[Desktop Entry]
Type=Application
Version=1.1
Name=Simplest Studio
Comment=Audio encoder
Icon=simplest-studio
Exec=/opt/simplest_studio/bin/simplest_studio %U
Terminal=false
Categories=AudioVideo;AudioVideoEditing;
Keywords=media info;metadata;audio;wav;codec;mp3;flac;
